{
  "branches": "main",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "./scripts/build.sh && ./scripts/package.sh"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["package.json", "yarn.lock", "CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/fromthecornerofakitchentable.blog.zip",
            "name": "fromthecornerofakitchentable.blog-${nextRelease.gitTag}.zip",
            "label": "fromthecornerofakitchentable.blog-${nextRelease.gitTag}.zip"
          }
        ]
      }
    ]
  ]
}
