/**
 * BlogInn 2.0.0
 * By Just Good Themes - https://justgoodthemes.com/
 */
/**
 * Table of Contents
 * 1. Reset
 * 2. General
 * 3. Layout
 * 4. Site Navigation
 * 5. Site Header
 * 6. Content
 *   6.1 Posts and Pages
 *   6.2 Comments
 *   6.3 Pagination
 *   6.4 Post Navigation
 * 7. Site Footer
 * 8. Widgets
 * 9. Members
 * 10. Rainbow Highlighter
 * 11. Animations
 */
/**
 * 1. Reset
 * normalize.css | MIT License | github.com/necolas/normalize.css
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border: 0;
  vertical-align: middle; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/**
 * 2. General
 */
html {
  font-size: 112.5%;
  font-family: "Lato", Helvetica, sans-serif; }

body {
  background-color: #333;
  color: #818181;
  line-height: 1.66667; }

a {
  color: #00acc1;
  text-decoration: underline;
  -webkit-transition: color .3s;
  transition: color .3s; }
  a:hover {
    color: #5ec5f0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 700;
  line-height: 1.16667; }
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 2em;
  margin: 1em 0 0.5em; }

h2 {
  font-size: 1.66667em;
  margin: 1.2em 0 0.6em; }

h3 {
  font-size: 1.33333em;
  margin: 1.5em 0 0.75em; }

h4 {
  font-size: 1.11111em;
  margin: 1.8em 0 0.9em; }

h5 {
  font-size: 1em;
  margin: 2em 0 1em; }

h6 {
  font-size: 0.88889em;
  letter-spacing: 1px;
  margin: 2.25em 0 1.125em;
  text-transform: uppercase; }

p {
  margin: 0 0 1.33333em; }

address {
  font-style: italic;
  margin: 0 0 1.33333em; }

mark,
ins {
  background-color: rgba(198, 198, 198, 0.3);
  color: #333;
  padding: 0 3px;
  text-decoration: none; }

pre {
  border-top: 2px solid rgba(198, 198, 198, 0.3);
  background-color: rgba(198, 198, 198, 0.15);
  color: #333;
  font-size: 0.88889em;
  line-height: 1.5;
  margin-bottom: 1.875em;
  padding: 1.5em;
  position: relative;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }
  pre:before {
    background-color: rgba(198, 198, 198, 0.3);
    color: #818181;
    content: "</>";
    font-size: 0.875em;
    padding: 0.25em 0.35em;
    position: absolute;
    right: 0;
    top: 0; }

blockquote {
  border-left: 3px solid #00acc1;
  color: #333;
  font-size: 1.11111em;
  font-style: italic;
  line-height: 1.5;
  margin: 1.5em 0;
  padding: 0 0 0 30px; }
  blockquote:first-child {
    margin-top: 0; }
  blockquote p {
    margin-bottom: 0.6em; }
    blockquote p:last-child {
      margin-bottom: 0; }
  blockquote small,
  blockquote cite {
    color: #818181;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.75em; }

dl,
dd {
  margin: 0 0 1.33333em; }

dt {
  font-weight: 700; }

ul,
ol {
  margin: 0 0 1.33333em;
  padding: 0 0 0 1.66667em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0; }

table {
  border-bottom: 1px solid rgba(198, 198, 198, 0.3);
  border-collapse: collapse;
  font-size: 0.88889em;
  line-height: 1.5;
  margin: 0 0 1.5em;
  max-width: 100%;
  text-align: left;
  width: 100%; }

caption {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 0.75em;
  text-align: left; }

th,
td {
  border-top: 1px solid rgba(198, 198, 198, 0.3);
  padding: 0.5em; }

th {
  background-color: rgba(198, 198, 198, 0.15);
  color: #333;
  font-weight: 700; }

hr {
  background-color: rgba(198, 198, 198, 0.3);
  border: 0;
  height: 2px;
  margin: 1.66667em 0; }

.responsive-table {
  overflow-x: auto;
  word-break: normal; }

/* Form fields */
label {
  color: #333;
  font-size: 0.88889em; }

input,
select,
textarea {
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid rgba(198, 198, 198, 0.3);
  border-radius: 0;
  box-shadow: none;
  color: #818181;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 0.625em;
  vertical-align: baseline; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
  display: block;
  width: 100%; }

/* Button styles */
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
.button {
  background-color: #00acc1;
  border: 0;
  box-sizing: border-box;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 3.5em;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0 30px;
  text-transform: uppercase;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  vertical-align: middle; }
  button:hover, button:focus, button:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="button"]:active,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="reset"]:active,
  .button:hover,
  .button:focus,
  .button:active {
    background-color: #5ec5f0;
    color: #fff;
    outline: 0; }
  button.button-icon,
  input[type="submit"].button-icon,
  input[type="button"].button-icon,
  input[type="reset"].button-icon,
  .button.button-icon {
    font-size: 14px;
    height: 3.57142em;
    line-height: 3.57142em;
    padding: 0;
    position: relative;
    width: 3.57142em; }
  button.button-fill-horz,
  input[type="submit"].button-fill-horz,
  input[type="button"].button-fill-horz,
  input[type="reset"].button-fill-horz,
  .button.button-fill-horz {
    background: linear-gradient(to right, #00acc1 50%, rgba(129, 129, 129, 0.15) 50%);
    background-color: transparent;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    color: #c6c6c6;
    -webkit-transition: background-position .3s, color .3s;
    transition: background-position .3s, color .3s; }
    button.button-fill-horz:hover, button.button-fill-horz:focus, button.button-fill-horz:active,
    input[type="submit"].button-fill-horz:hover,
    input[type="submit"].button-fill-horz:focus,
    input[type="submit"].button-fill-horz:active,
    input[type="button"].button-fill-horz:hover,
    input[type="button"].button-fill-horz:focus,
    input[type="button"].button-fill-horz:active,
    input[type="reset"].button-fill-horz:hover,
    input[type="reset"].button-fill-horz:focus,
    input[type="reset"].button-fill-horz:active,
    .button.button-fill-horz:hover,
    .button.button-fill-horz:focus,
    .button.button-fill-horz:active {
      color: #fff;
      background-position: left bottom; }

a.button {
  height: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  text-decoration: none; }

.button-icon svg,
.button-icon .icon {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.button-icon svg {
  fill: currentColor;
  height: 1em; }

/* CSS icons */
.icon-menu {
  background: currentColor;
  color: inherit;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 14px; }
  .icon-menu:before, .icon-menu:after {
    background: currentColor;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .icon-menu:before {
    margin-top: -4px; }
  .icon-menu:after {
    margin-top: 4px; }

.icon-close {
  background: 0;
  color: inherit;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px; }
  .icon-close:before, .icon-close:after {
    background: currentColor;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%; }
  .icon-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .icon-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/* Placeholder text color */
::-webkit-input-placeholder {
  color: #c6c6c6; }

:-moz-placeholder {
  color: #c6c6c6; }

::-moz-placeholder {
  color: #c6c6c6;
  opacity: 1; }

:-ms-input-placeholder {
  color: #c6c6c6; }

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%; }

:not(.kg-card) > .js-reframe {
  margin: 0 0 1.33333em; }

/* Images */
img {
  height: auto;
  max-width: 100%; }

a img {
  -webkit-transition: .3s;
  transition: .3s; }
a:hover img {
  opacity: .8; }

/* Koenig cards */
.kg-card,
.caption {
  margin: 0 0 1.66667em; }

.kg-card figcaption,
.caption-text {
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  padding-top: 0.5em;
  text-align: left; }

.kg-bookmark-card {
  border: 1px solid rgba(198, 198, 198, 0.3);
  margin: 0 0 1.66667em;
  width: 100%; }

.kg-bookmark-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #818181;
  min-height: 140px;
  text-decoration: none; }

.kg-bookmark-content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 0.88889em;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 1.5em; }

.kg-bookmark-title {
  color: #333;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 0.75em;
  -webkit-transition: color .3s;
  transition: color .3s; }

.kg-bookmark-description {
  color: #818181;
  display: -webkit-box;
  line-height: 1.5;
  max-height: 3em;
  overflow-y: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.kg-bookmark-thumbnail {
  position: relative;
  min-width: 33%;
  max-height: 100%; }
  .kg-bookmark-thumbnail img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%; }

.kg-bookmark-metadata {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #818181;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 1.25em;
  text-transform: uppercase; }

.kg-bookmark-icon {
  height: 24px;
  margin-right: 8px;
  width: 24px; }

.kg-bookmark-author {
  line-height: 1.5; }
  .kg-bookmark-author:after {
    content: "\002F";
    margin: 0 5px; }

.kg-bookmark-publisher {
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px; }

.kg-bookmark-container:hover {
  color: #818181; }
  .kg-bookmark-container:hover .kg-bookmark-title {
    color: #818181; }
  .kg-bookmark-container:hover .kg-bookmark-icon {
    opacity: 1; }

.kg-gallery-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 740px; }

.kg-gallery-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .kg-gallery-row:not(:first-of-type) {
    margin: 4px 0 0; }

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 4px; }
.kg-gallery-image img {
  display: block;
  height: 100%;
  margin: 0;
  width: 100%; }

.full-width {
  clear: both;
  margin: 0.33333em -15px 1.33333em; }
  .full-width .caption-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px; }

.kg-width-wide .kg-image,
.kg-width-full .kg-image {
  margin-left: -15px;
  margin-right: -15px;
  max-width: none;
  width: calc(100vw - 30px); }

.alignleft {
  float: left;
  margin: 0.33333em 30px 0.66667em 0;
  max-width: 50%; }

.alignright {
  float: right;
  margin: 0.33333em 0 0.66667em 30px;
  max-width: 50%; }

/* Footnotes */
.footnotes-sep {
  clear: both; }

.footnotes-list {
  font-size: 14px;
  line-height: 1.5; }

.footnote-item p {
  margin-bottom: 0.35em; }

/* Heading decoration */
.line-accent:before {
  content: "\2014\00a0"; }

/* Text meant only for screen readers */
.screen-reader-text,
.site-logo + .site-title {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px; }

/* Clearing floats */
.post-header:after,
.post-content:after,
.plan-header:after {
  clear: both; }
.post-header:before, .post-header:after,
.post-content:before,
.post-content:after,
.plan-header:before,
.plan-header:after {
  content: "";
  display: table; }

@media only screen and (min-width: 501px) {
  .full-width,
  .kg-width-wide .kg-image,
  .kg-width-full .kg-image {
    margin-left: -3vw;
    margin-right: -3vw; }

  .kg-width-wide .kg-image,
  .kg-width-full .kg-image {
    width: 94vw; } }
@media only screen and (min-width: 841px) {
  .full-width,
  .kg-width-wide .kg-image,
  .kg-width-full .kg-image {
    margin-left: calc(370px - 47vw);
    margin-right: calc(370px - 47vw); } }
@media only screen and (min-width: 961px) {
  .full-width,
  .kg-width-wide .kg-image,
  .kg-width-full .kg-image {
    margin-left: -30px;
    margin-right: -30px; }

  .kg-width-wide .kg-image,
  .kg-width-full .kg-image {
    width: calc(75vw - 45px); } }
@media only screen and (min-width: 1127px) {
  .full-width,
  .kg-width-wide .kg-image,
  .kg-width-full .kg-image {
    margin-left: calc(392px - 37.5vw);
    margin-right: calc(392px - 37.5vw); } }
@media only screen and (min-width: 1261px) {
  .full-width,
  .kg-width-wide .kg-image,
  .kg-width-full .kg-image {
    margin-left: -80px;
    margin-right: -80px; }

  .kg-width-wide .kg-image,
  .kg-width-full .kg-image {
    width: 900px; } }
@media only screen and (max-width: 640px) {
  html {
    font-size: 100%; }

  .alignleft,
  .alignright {
    float: none;
    margin: 0.33333em 0 1.33333em;
    max-width: none; } }
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.75em;
    margin: 1.14286em 0 0.57143em; }

  h2 {
    font-size: 1.5em;
    margin: 1.33333em 0 0.66667em; }

  h3 {
    font-size: 1.25em;
    margin: 1.6em 0 0.8em; }

  blockquote {
    padding-left: 15px; }

  .kg-bookmark-container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .kg-bookmark-thumbnail {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    min-height: 160px; }

  .kg-bookmark-content {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; } }
@media only screen and (max-width: 400px) {
  .kg-gallery-row {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .kg-gallery-image:not(:first-of-type) {
    margin: 4px 0 0; } }
/**
 * 3. Layout
 */
.outer {
  padding-left: 15px;
  padding-right: 15px; }

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }

.inner-small {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  position: relative; }

.site-content {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }

.primary {
  margin-bottom: 3.33333em;
  overflow-x: hidden; }

.sidebar {
  font-size: 0.88889em;
  margin-bottom: 3.33333em; }

@media only screen and (min-width: 501px) {
  .outer {
    padding-left: 3vw;
    padding-right: 3vw; } }
@media only screen and (min-width: 961px) {
  .outer {
    padding-left: 30px;
    padding-right: 30px; }

  .site-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .primary {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    margin-bottom: 1.66667em;
    margin-right: 3.333%; }
    .primary:only-child {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-right: 0;
      max-width: 900px; }

  .sidebar {
    margin-bottom: 1.66667em; } }
/**
 * 5. Site Navigation
 */
.menu {
  font-size: 12px;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0; }

.menu-item a {
  color: #818181;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase; }
  .menu-item a:hover {
    color: #00acc1; }

.site-nav {
  background-color: #3d3d3d; }
  .site-nav:after {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity .25s, visibility 0s .25s;
    transition: opacity .25s, visibility 0s .25s;
    visibility: hidden;
    width: 100%; }
  .site-nav .menu-item-current > a {
    color: #00acc1; }

.site-nav-inside {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.actions {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0; }
  .actions .button {
    margin-left: 4px; }
  .actions .button-subscribe {
    font-size: 12px;
    padding-bottom: 1.33333em;
    padding-top: 1.33333em; }

@media only screen and (min-width: 801px) {
  #menu-show,
  #menu-hide {
    display: none; }

  .site-nav .menu {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .site-nav .menu-item {
    border-left: 2px solid rgba(129, 129, 129, 0.15);
    margin: 1.33333em 0;
    padding-left: 15px;
    padding-right: 15px; }
    .site-nav .menu-item:first-child {
      border: 0;
      padding-left: 0; } }
@media only screen and (max-width: 800px) {
  #menu-show {
    background: 0;
    color: #818181;
    font-size: 12px;
    padding: 0 0 0 20px;
    position: relative; }
    #menu-show .icon-menu {
      left: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }

  .site-nav .menu {
    color: #c6c6c6;
    padding: 1.25em 3vw 3em; }
  .site-nav .menu-item a {
    border-top: 2px solid rgba(129, 129, 129, 0.15);
    display: block;
    padding: 1.25em 0; }
  .site-nav .menu-item:first-child a {
    border: 0; }

  .menu-panel {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #333;
    bottom: 0;
    left: -100%;
    max-width: 360px;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    -webkit-transition: left 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), visibility 0s 0.3s;
    transition: left 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), visibility 0s 0.3s;
    visibility: hidden;
    width: 100%;
    z-index: 9999; }

  .menu--opened {
    overflow: hidden; }
    .menu--opened .site-nav:after {
      opacity: 1;
      -webkit-transition: opacity .25s;
      transition: opacity .25s;
      visibility: visible;
      z-index: 1; }
    .menu--opened .menu-panel {
      left: 0;
      -webkit-transition: left 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
      transition: left 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
      visibility: visible; }

  .menu-panel-scrollable {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative; }

  .menu-panel-top {
    background-color: #3d3d3d;
    text-align: right; } }
@media only screen and (max-width: 500px) {
  .site-nav .menu {
    padding-left: 15px;
    padding-right: 15px; } }
/**
 * 5. Site Header
 */
.site-header {
  padding-bottom: 4.16667em;
  padding-top: 3.88889em; }

.site-header-inside {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.site-logo {
  margin: 0 20px 0.66667em 0; }
  .site-logo img {
    max-height: 50px; }

.site-title {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.16667;
  margin: 0 20px 0.33333em 0;
  text-transform: uppercase; }
  .site-title a {
    border-left: 0.27778em solid #00acc1;
    color: inherit;
    padding-left: 0.55555em;
    text-decoration: none; }
    .site-title a:hover {
      color: #5ec5f0; }

.site-description {
  color: #818181;
  -ms-flex: 1 1 360px;
  -webkit-flex: 1 1 360px;
  flex: 1 1 360px;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0.85714em;
  max-width: 480px; }

@media only screen and (max-width: 960px) {
  .site-header {
    padding-bottom: 2.66667em;
    padding-top: 3.33333em; } }
@media only screen and (max-width: 480px) {
  .site-header {
    padding-bottom: 2em;
    padding-top: 2.66667em; }

  .site-title {
    font-size: 1.55556em; } }
/**
 * 6. Content
 * 6.1 Posts and Pages
 */
.post {
  background-color: #fff;
  margin-bottom: 3.33333em;
  padding-bottom: 2.22222em; }
  .post.featured {
    position: relative; }

.post-template .post {
  margin-bottom: 1.11111em; }

.featured-badge {
  background-color: #5ec5f0;
  color: #fff;
  height: 30px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px; }
  .featured-badge svg {
    fill: currentColor;
    height: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.post-header {
  margin-bottom: 2.22222em; }

.post-thumbnail {
  display: block; }
  .post-thumbnail img {
    width: 100%; }

.post-title {
  font-size: 2em;
  margin: 0 0 0.66667em;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }
  .post-title a {
    color: inherit;
    text-decoration: none; }

.post-header-wrap {
  overflow: hidden;
  position: relative; }
  .post-header-wrap .post-title {
    background-color: #00acc1;
    clear: both;
    color: #fff;
    float: left;
    margin: 1.66667em 0 0;
    max-width: 75%;
    padding-bottom: 0.83333em;
    padding-top: 0.83333em; }
  .post-header-wrap .post-thumbnail + .post-title {
    bottom: 0;
    left: 0;
    position: absolute; }

.post-meta {
  background-color: #5ec5f0;
  clear: both;
  color: #fff;
  font-size: 12px;
  float: left;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-bottom: 1.25em;
  padding-top: 1.25em;
  text-transform: uppercase; }
  .post-meta a {
    color: inherit;
    font-weight: 700;
    text-decoration: none; }

.read-more {
  margin-top: 2.22222em; }
  .read-more .button {
    padding: 0.75em 15px; }

.post-footer {
  margin-top: 1.66667em; }

.post-share,
.post-tags {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase; }
  .post-share a,
  .post-tags a {
    margin: 0.25em 5px 0.25em 0; }
    .post-share a:first-of-type,
    .post-tags a:first-of-type {
      margin-left: 8px; }

.post-share {
  margin-bottom: 2.72727em; }
  .post-share .button {
    color: #818181;
    height: 2.57143em;
    line-height: 2.57143em;
    width: 2.57143em; }

.post-tags {
  border-top: 2px solid rgba(198, 198, 198, 0.3);
  padding-top: 2.72727em; }
  .post-tags a {
    background-color: rgba(198, 198, 198, 0.3);
    color: #818181;
    padding: 0.27273em 0.90909em;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s; }
    .post-tags a:hover {
      background-color: #00acc1;
      color: #fff; }

/* Author box */
.author-box {
  background-color: #fff;
  margin-bottom: 1.11111em;
  padding-bottom: 2.22222em;
  padding-top: 2.22222em; }
  .author-box:last-child {
    margin-bottom: 3.33333em; }

.author-info {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .author-info + .author-info {
    border-top: 2px solid rgba(198, 198, 198, 0.3);
    margin-top: 1.66667em;
    padding-top: 1.66667em; }

.author-avatar {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 30px; }

.avatar {
  border-radius: 50%;
  height: 85px;
  width: 85px; }

.author-title {
  font-size: 0.88889em;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase; }
  .author-title a {
    text-decoration: none; }

.author-bio {
  font-size: 0.88889em;
  line-height: 1.5;
  margin: 0.75em 0 0; }

.author-links {
  color: #c6c6c6;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 1.5em 0 0;
  text-transform: uppercase; }
  .author-links > span {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap; }
  .author-links a {
    color: inherit;
    text-decoration: none; }
    .author-links a:hover {
      color: #00acc1; }
  .author-links svg {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    margin-right: 3px;
    position: relative;
    top: 0.1em; }

/* Archives */
.page-header {
  background-color: rgba(129, 129, 129, 0.15);
  border-left: 3px solid #00acc1;
  color: #c6c6c6;
  margin-bottom: 2.22222em;
  padding-bottom: 1.33333em;
  padding-top: 1.33333em; }
  .page-header .page-title,
  .page-header .author-title {
    color: inherit; }
  .page-header .highlight {
    color: #fff; }
  .page-header .author-info {
    padding-bottom: 0.88889em;
    padding-top: 0.88889em; }
  .page-header .author-links {
    color: #818181; }

.page-title {
  font-size: 0.88889em;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase; }

.page-description {
  font-size: 0.88889em;
  line-height: 1.5;
  margin: 0.75em 0 0; }

/* Error pages */
.error-template .inner {
  max-width: 900px; }

@media only screen and (max-width: 960px) {
  .post,
  .page-header {
    margin-bottom: 3vw; }

  .post-template .post,
  .author-box {
    margin-bottom: 15px; } }
@media only screen and (max-width: 800px) {
  .post-title {
    font-size: 1.77778em; }

  .post-header-wrap .post-title {
    padding-bottom: 0.75em;
    padding-top: 0.75em; } }
@media only screen and (max-width: 640px) {
  .post-title {
    font-size: 1.75em; }

  .post-header-wrap .post-title {
    padding-bottom: 0.53571em;
    padding-top: 0.53571em; } }
@media only screen and (max-width: 500px) {
  .post,
  .page-header {
    margin-bottom: 15px; } }
@media only screen and (max-width: 480px) {
  .post-header {
    margin-bottom: 1.33333em; }

  .post-header-wrap .post-title {
    font-size: 1.25em;
    margin-top: 1.5em;
    max-width: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em; }

  .post-meta {
    font-size: 11px;
    padding-bottom: 0.90909em;
    padding-top: 0.90909em; }

  .author-info {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .author-info .author-avatar {
      margin: 0 0 1.25em; } }
/**
 * 6.2. Comments
 */
.comments-area {
  background-color: #fff;
  margin-bottom: 3.33333em;
  margin-top: 2.22222em;
  padding-bottom: 3.33333em;
  padding-top: 2.22222em; }

.comments-title {
  border-bottom: 2px solid rgba(198, 198, 198, 0.3);
  font-size: 1.11111em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1.5em;
  margin: 0 0 2em; }

@media only screen and (max-width: 960px) {
  .comments-area {
    margin-bottom: 3vw;
    margin-top: 0; } }
@media only screen and (max-width: 500px) {
  .comments-area {
    margin-bottom: 15px; } }
/**
 * 6.3. Pagination
 */
.pagination {
  background-color: #3d3d3d;
  color: #818181;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 3.33333em;
  position: relative;
  text-align: center;
  text-transform: uppercase; }
  .pagination .page-number {
    display: block;
    padding: 1.25em 55px; }
  .pagination .newer-posts,
  .pagination .older-posts {
    position: absolute;
    top: 0; }
  .pagination .newer-posts {
    left: 0; }
  .pagination .older-posts {
    right: 0; }

@media only screen and (max-width: 960px) {
  .pagination {
    margin-bottom: 3vw; } }
@media only screen and (max-width: 500px) {
  .pagination {
    margin-bottom: 15px; } }
/**
 * 6.4. Post Navigation
 */
.post-navigation {
  margin-bottom: 2.22222em;
  margin-top: 2.22222em; }
  .post-navigation:last-child {
    margin-bottom: 3.33333em; }

.nav-next,
.nav-previous {
  background-color: rgba(129, 129, 129, 0.15);
  border-left: 3px solid #00acc1;
  margin-bottom: 1.11111em;
  padding-bottom: 2.5em;
  padding-top: 1.66667em;
  position: relative; }

.nav-thumb {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 260px; }
  .nav-thumb img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%; }

.nav-title {
  color: #fff;
  font-size: 1.11111em;
  margin: 0 240px 0.25em 0; }
  .nav-title a {
    color: inherit;
    text-decoration: none; }
    .nav-title a:hover {
      color: #00acc1; }

.nav-before,
.nav-date {
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 240px;
  text-transform: uppercase; }

.nav-before {
  color: #c6c6c6;
  margin-bottom: 1.25em; }

@media only screen and (max-width: 960px) {
  .post-template .post-navigation {
    margin-bottom: 3vw;
    margin-top: 0; }

  .nav-next,
  .nav-previous {
    margin-bottom: 15px; } }
@media only screen and (max-width: 640px) {
  .nav-next,
  .nav-previous {
    padding-bottom: 1.875em;
    padding-top: 1.25em; }

  .nav-thumb {
    width: 200px; }

  .nav-title,
  .nav-before,
  .nav-date {
    margin-right: 200px; } }
@media only screen and (max-width: 500px) {
  .post-template .post-navigation {
    margin-bottom: 15px; }

  .nav-next,
  .nav-previous {
    padding-bottom: 1.125em;
    padding-top: 0.9375em; }

  .nav-thumb {
    width: 120px; }

  .nav-title {
    font-size: 1em;
    margin-right: 120px; }

  .nav-before {
    margin-bottom: 1em; }

  .nav-before,
  .nav-date {
    font-size: 11px;
    margin-right: 120px; } }
/**
 * 7. Site Footer
 */
.site-footer {
  background-color: #3d3d3d; }
  .site-footer .inner {
    position: relative; }

.footer-top {
  border-bottom: 2px solid rgba(129, 129, 129, 0.15);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2.22222em 0; }
  .footer-top .button-icon {
    margin: 0 2px 4px; }

.footer-bottom {
  color: #818181;
  padding-bottom: 2em;
  padding-top: 2.22222em;
  text-align: center; }
  .footer-bottom a {
    color: #c6c6c6;
    text-decoration: none; }
    .footer-bottom a:hover {
      color: #00acc1; }

.footer-nav {
  margin-bottom: 1.66667em; }
  .footer-nav .menu-item {
    margin-bottom: 0.75em; }

.site-info {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 2.5em;
  text-transform: uppercase; }

@media only screen and (min-width: 481px) {
  .footer-top {
    -webkit-justify-content: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
    padding: 3.33333em 65px 3.33333em 0; }
    .footer-top .button-icon {
      margin-left: 0;
      margin-right: 4px; }

  .footer-nav {
    margin-bottom: 1em; }
    .footer-nav .menu-item {
      display: inline-block;
      margin: 0 15px 0.75em 0; }

  #top-link {
    margin: 0;
    position: absolute;
    right: 0;
    top: 3.33333rem; }

  .footer-bottom {
    text-align: left; }
    .footer-bottom:only-child {
      padding-right: 65px;
      padding-top: 3.33333em; } }
@media only screen and (min-width: 801px) {
  .footer-bottom:not(:only-child) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .footer-bottom:not(:only-child) .footer-nav {
      margin-left: auto;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    .footer-bottom:not(:only-child) .menu {
      text-align: right; }
    .footer-bottom:not(:only-child) .menu-item {
      margin-left: 15px;
      margin-right: 0; }
    .footer-bottom:not(:only-child) .site-info:not(:first-child) {
      margin-right: 15px;
      max-width: 60%; } }
/**
 * 8. Widgets
 */
.widget {
  border-top: 2px solid rgba(129, 129, 129, 0.15);
  margin-bottom: 2.5em;
  padding-top: 1.875em; }
  .widget:first-child {
    border-top: 0;
    padding-top: 0; }

.widget-title {
  color: #c6c6c6;
  font-size: 0.875em;
  letter-spacing: 1px;
  margin: 0 0 1.71428em;
  text-transform: uppercase; }

.widget-recent-posts ul {
  list-style: none;
  padding-left: 0; }
.widget-recent-posts li {
  margin-bottom: 0.9375em; }
.widget-recent-posts a {
  color: #fff;
  text-decoration: none; }
  .widget-recent-posts a:hover {
    color: #00acc1; }
.widget-recent-posts .recent-title {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 0.25em; }
.widget-recent-posts .recent-date {
  color: #818181;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase; }

.widget-tags a {
  background-color: rgba(129, 129, 129, 0.15);
  color: #c6c6c6;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 1px;
  margin: 0 0.4em 0.4em 0;
  padding: 0.6em 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s; }
  .widget-tags a:hover {
    background-color: #00acc1;
    color: #fff; }

@media only screen and (max-width: 960px) {
  .widget {
    text-align: center; }
    .widget form {
      margin-left: auto;
      margin-right: auto;
      max-width: 480px; }

  .widget-title.line-accent:after {
    content: "\00a0\2014"; } }
/**
 * 9. Members
 */
/* Member forms */
form[data-members-form] .form-group {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
form[data-members-form] .subscribe-email {
  display: block;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 2.625em; }
form[data-members-form] .button {
  margin-left: 10px;
  position: relative; }
form[data-members-form] .button-content {
  position: relative;
  -webkit-transition: padding .3s;
  transition: padding .3s;
  white-space: nowrap; }
form[data-members-form] .message {
  font-size: 0.88889em;
  margin: 0.75em 0 0; }
form[data-members-form] .message-signup-success,
form[data-members-form] .message-signin-success,
form[data-members-form] .message-invalid,
form[data-members-form] .message-error {
  display: none; }
form[data-members-form] .message-signup-success,
form[data-members-form] .message-signin-success {
  color: #00acc1; }
form[data-members-form] .message-invalid,
form[data-members-form] .message-error {
  color: #f05e7c; }
form[data-members-form].loading .button-content {
  padding-right: 20px; }
  form[data-members-form].loading .button-content:after {
    -webkit-animation-name: fadeIn, spin;
    animation-name: fadeIn, spin;
    -webkit-animation-duration: .3s, .7s;
    animation-duration: .3s, .7s;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    height: 16px;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 16px; }
form[data-members-form].invalid .message-invalid, form[data-members-form].error .message-error {
  display: block; }
form[data-members-form].success.signup-form .message-signup-success, form[data-members-form].success.subscribe-form .message-signup-success {
  display: block; }
form[data-members-form].success.signin-form .message-signin-success {
  display: block; }

/* Notifications */
.notification {
  background: #00acc1;
  box-sizing: border-box;
  color: #fff;
  left: 0;
  line-height: 1.5;
  padding: 0.83333em 75px 0.83333em 30px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  -webkit-transition: -webkit-transform .35s ease-in-out .5s, visibility .35s ease-in-out .5s;
  -webkit-transition: transform .35s ease-in-out .5s, visibility .35s ease-in-out .5s;
  transition: transform .35s ease-in-out .5s, visibility .35s ease-in-out .5s;
  visibility: hidden;
  z-index: 99999; }
  .notification .notification-close {
    background: 0;
    color: #fff;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px; }

.subscribe-success .notification-subscribe,
.signup-success .notification-signup,
.signin-success .notification-signin,
.checkout-success .notification-checkout {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  visibility: visible; }
  .subscribe-success .notification-subscribe.closed,
  .signup-success .notification-signup.closed,
  .signin-success .notification-signin.closed,
  .checkout-success .notification-checkout.closed {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
    visibility: hidden; }

/* Member signin/signout panel */
.member-panel {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #333;
  bottom: 0;
  max-width: 360px;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: -100%;
  top: 0;
  -webkit-transition: right 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), visibility 0s 0.3s;
  transition: right 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), visibility 0s 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 9999; }

.member--panel--opened {
  overflow: hidden; }
  .member--panel--opened .site-nav:after {
    opacity: 1;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    visibility: visible;
    z-index: 1; }
  .member--panel--opened .member-panel {
    right: 0;
    -webkit-transition: right 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: right 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    visibility: visible; }

.member-panel-scrollable {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative; }

.member-panel-top {
  background-color: #3d3d3d;
  text-align: right; }

.member-panel-content {
  color: #c6c6c6;
  font-size: 0.88889em;
  padding-bottom: 2.25em;
  padding-top: 2.25em;
  text-align: center; }

.member-menu {
  list-style: none;
  padding: 0; }
  .member-menu li {
    margin-bottom: 1.125em; }
  .member-menu .button {
    display: block;
    margin-left: 0;
    margin-right: 0; }

/* Member templates */
.site-signin .post,
.site-signup .post,
.site-account .post,
.site-membership .post {
  padding-top: 2.22222em; }
.site-signin .post-header,
.site-signup .post-header,
.site-account .post-header,
.site-membership .post-header {
  margin-bottom: 0; }
.site-signin .note,
.site-signup .note,
.site-account .note,
.site-membership .note {
  font-size: 0.88889em;
  margin-top: 1.25em; }

.account-subscription {
  margin-bottom: 2.22222em; }

.account-group-label {
  font-size: 1em;
  margin-right: 6px; }

.account-cancel {
  margin-top: 1.66667em; }

.site-membership.primary {
  max-width: none; }
.site-membership .post {
  background-color: rgba(129, 129, 129, 0.15);
  color: #c6c6c6;
  text-align: center; }
.site-membership .post-title {
  color: #fff; }

/* Membership plans */
.membership-plans {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2.22222em -15px 0; }

.membership-plan {
  background-color: #fff;
  box-sizing: border-box;
  color: #818181;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 280px;
  -ms-flex: 1 0 280px;
  flex: 1 0 280px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 15px 1.33333em;
  padding-bottom: 1.66667em;
  padding-top: 1.66667em;
  text-align: left; }
  .membership-plan .plan-header {
    margin-bottom: 2em; }
  .membership-plan .plan-title {
    background-color: #00acc1;
    clear: both;
    color: #fff;
    float: left;
    font-size: 2em;
    margin: 0;
    max-width: 75%;
    padding-bottom: 0.83333em;
    padding-top: 0.83333em; }
  .membership-plan .plan-price {
    background-color: #5ec5f0;
    clear: both;
    color: #fff;
    font-size: 1.66667em;
    float: left;
    line-height: 1.5;
    padding-bottom: 0.5em;
    padding-top: 0.5em; }
  .membership-plan .plan-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 0.88889em;
    line-height: 1.5; }
  .membership-plan ol,
  .membership-plan ul {
    list-style: none;
    padding: 0; }
  .membership-plan li {
    margin-bottom: 0.33333em;
    padding-left: 18px;
    position: relative; }
    .membership-plan li:before {
      background: #00acc1;
      border-radius: 50%;
      box-sizing: border-box;
      content: "";
      display: inline-block;
      height: 6px;
      left: 0;
      position: absolute;
      top: 0.58333em;
      width: 6px; }
  .membership-plan .plan-footer {
    margin-top: 0.66667em; }
  .membership-plan .button {
    display: block;
    padding-left: 10px;
    padding-right: 10px; }

/* Members only posts */
.post-excerpt {
  position: relative; }
  .post-excerpt:before {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, white 100%);
    bottom: 0;
    content: "";
    height: 90%;
    left: 0;
    position: absolute;
    right: 0; }

.member-cta {
  border: 2px solid rgba(198, 198, 198, 0.3);
  margin: 1.66667em 0 1.33333em;
  padding-bottom: 1.66667em;
  padding-top: 1.66667em; }
  .member-cta.paid .member-cta-member {
    display: none; }
  .member-cta.members .member-cta-paid {
    display: none; }
  .member-cta h2 {
    font-size: 1.33333em; }
  .member-cta .button {
    margin-bottom: 1.25em; }
  .member-cta .note {
    font-size: 0.88889em;
    margin-bottom: 0.75em; }

@media only screen and (max-width: 960px) {
  .notification {
    padding-left: 3vw;
    padding-right: calc(3vw + 45px); }
    .notification .notification-close {
      right: 3vw; }

  .membership-plans {
    margin-left: -1.5vw;
    margin-right: -1.5vw; }

  .membership-plan {
    margin: 0 1.5vw 3vw; } }
@media only screen and (max-width: 800px) {
  .membership-plan .plan-title {
    font-size: 1.77778em; }
  .membership-plan .plan-price {
    font-size: 1.55556em; } }
@media only screen and (max-width: 640px) {
  .membership-plan .plan-title {
    font-size: 1.75em; }
  .membership-plan .plan-price {
    font-size: 1.5em; }
  .membership-plan li {
    padding-left: 15px; }
    .membership-plan li:before {
      height: 5px;
      top: 0.57143em;
      width: 5px; } }
@media only screen and (max-width: 500px) {
  .notification {
    padding-left: 15px;
    padding-right: 60px; }
    .notification .notification-close {
      right: 15px; }

  .membership-plans {
    margin-left: -8px;
    margin-right: -8px; }

  .membership-plan {
    margin: 0 8px 15px; } }
@media only screen and (max-width: 480px) {
  form[data-members-form] .form-group {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  form[data-members-form] .button {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 1.25em 0 0;
    width: 100%; }

  .member-cta h2 {
    font-size: 1.125em; } }
/**
 * 10. Rainbow Code Highlighter
 * https://craig.is/making/rainbows
 */
pre .comment {
  color: #bdbdbd; }

pre .support {
  color: #2196f3; }

pre .tag,
pre .tag-name {
  color: #0d47a1; }

pre .keyword,
pre .css-property,
pre .vendor-prefix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function {
  font-weight: bold; }

pre .css-property,
pre .css-value,
pre .vendor-prefix,
pre .support.namespace {
  color: #424242; }

pre .constant.numeric,
pre .keyword.unit,
pre .hex-color {
  color: #00acc1;
  font-weight: normal; }

pre .entity.class {
  color: #3f51b5; }

pre .entity.id,
pre .entity.function {
  color: #b71c1c; }

pre .attribute,
pre .variable {
  color: #00796b; }

pre .string, pre .support.value {
  color: #d32f2f;
  font-weight: normal; }

pre .regexp {
  color: #4caf50; }

/**
 * 11. Animations
 */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
/* Content animation */
.site-header,
.primary,
.sidebar {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.site-header {
  -webkit-animation-delay: .15s;
  animation-delay: .15s; }

.primary {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.sidebar {
  -webkit-animation-delay: .65s;
  animation-delay: .65s; }
