{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/behance"}}<span class="screen-reader-text">Behance</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/codepen"}}<span class="screen-reader-text">CodePen</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/dribbble"}}<span class="screen-reader-text">Dribbble</span></a> --}}
<a href="https://github.com/kieranroneill" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/github"}}<span class="screen-reader-text">GitHub</span></a>
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/gitlab"}}<span class="screen-reader-text">GitLab</span></a> --}}
<a href="https://www.instagram.com/kieranroneill" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/instagram"}}<span class="screen-reader-text">Instagram</span></a>
<a href="https://www.linkedin.com/in/kieranroneill" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/linkedin"}}<span class="screen-reader-text">LinkedIn</span></a>
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/medium"}}<span class="screen-reader-text">Medium</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/patreon"}}<span class="screen-reader-text">Patreon</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/pinterest"}}<span class="screen-reader-text">Pinterest</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/product-hunt"}}<span class="screen-reader-text">Product Hunt</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/quora"}}<span class="screen-reader-text">Quora</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/reddit"}}<span class="screen-reader-text">Reddit</span></a> --}}
{{!-- <a href="{{@site.url}}/rss/" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/rss"}}<span class="screen-reader-text">RSS</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/stack-overflow"}}<span class="screen-reader-text">Stack Overflow</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/vimeo"}}<span class="screen-reader-text">Vimeo</span></a> --}}
{{!-- <a href="#" class="button button-icon button-fill-horz" target="_blank" rel="noopener">{{> "icons/youtube"}}<span class="screen-reader-text">YouTube</span></a> --}}
