<section class="widget widget-tags">
	<h2 class="widget-title line-accent">{{t "Tags"}}</h2>
	<div class="tagcloud">
		{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
			{{tags separator=""}}
		{{/get}}
	</div>
</section><!-- .widget -->
