<section class="widget widget-text">
	<h2 class="widget-title line-accent">{{t "About {sitetitle}" sitetitle=@site.title}}</h2>
	<p>{{t "{sitetitle} is a blog devoted to my tales as a digital nomad. Here you will find ramblings about the places I visit and opionated pieces about the things I love, but take it all with a pinch of salt, because it is subjective :)" sitetitle=@site.title}}</p>
</section><!-- .widget -->
