<section class="widget widget-text">
	<h2 class="widget-title line-accent">{{t "About {sitetitle}" sitetitle=@site.title}}</h2>
	<p>{{t "BlogInn is a minimal and bold Ghost theme. Explore it yourself. Feedback, questions, or ideas? Drop us a line via email."}}</p>
</section><!-- .widget -->
