/**
 * 8. Widgets
 */
.widget {
  border-top: 2px solid rgba($gray,.15);
  margin-bottom: 2.5em;
  padding-top: 1.875em;

  &:first-child {
    border-top: 0;
    padding-top: 0;
  }
}

.widget-title {
  color: $gray-light;
  font-size: 0.875em;
  letter-spacing: 1px;
  margin: 0 0 1.71428em;
  text-transform: uppercase;
}

.widget-recent-posts {
  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 0.9375em;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $accent;
    }
  }

  .recent-title {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 0.25em;
  }

  .recent-date {
    color: $gray;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
  }
}

.widget-tags {
  a {
    background-color: rgba($gray,.15);
    color: $gray-light;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0 0.4em 0.4em 0;
    padding: 0.6em 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;

    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 960px) {
  .widget {
    text-align: center;

    form {
      margin-left: auto;
      margin-right: auto;
      max-width: 480px;
    }
  }

  .widget-title {
    &.line-accent {
      &:after {
        content: "\00a0\2014";
      }
    }
  }
}
